<div class="form-container">
	<form action="/answer" method="get">
		<input type="text" name="question" class="input" placeholder="Type">
		<input type="submit" value="Ask!" class="button">
	</form>
</div>